<style>
    #cookie-notice {
        font-weight: 900;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        display: none;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #222;
        color: rgba(255, 255, 255, 0.8);
        z-index: 9000;
        border-top: 2px solid #00a8ff;
        box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.3);
    }

    #cookie-notice a {
        color: #00a8ff;
        margin-left: 1rem;
        font-weight: 600;
    }

    #cookie-notice .btn {
        background-color: #00a8ff;
        border: none;
        color: white;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        cursor: pointer;
        margin-left: 1rem;
        border-radius: 4px;
    }

    #cookie-notice .btn:hover {
        background-color: #0073b1;
    }

    @media (max-width: 767px) {
        #cookie-notice {
            padding: 1rem;
        }

        #cookie-notice span {
            display: block;
            margin-bottom: 10px;
        }

        #cookie-notice .btn {
            display: inline-block;
            margin: 5px 0;
        }
    }

    /* Pestaña que oculta la galleta (ahora solapada con el botón) */
    #cookie-tab {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #00a8ff;
        border-radius: 50%;  /* Misma forma redonda que el botón */
        cursor: pointer;
        z-index: 9001;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out;
    }

    /* El icono de la galleta inicialmente está oculto */
    #cookie-toggle {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #00a8ff;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 9002;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
        opacity: 0; /* Inicialmente oculto */
        pointer-events: none; /* No puede ser clickeado cuando está oculto */
    }

    #cookie-toggle img {
        width: 40px;
        height: 40px;
        border-radius: 50%; /* Bordes redondeados para la imagen de la galleta */
    }

    #cookie-toggle.open {
        opacity: 1; /* Muestra el botón cuando está abierto */
        pointer-events: auto; /* Habilita el clic cuando está visible */
    }

    #cookie-tab.open {
        transform: translateY(80px); /* Mueve el notch hacia arriba cuando se hace clic */
    }

    #cookie-toggle:hover {
        background-color: #0073b1;
    }
</style>

<!-- Pestaña para mostrar la galleta -->
<div id="cookie-tab">•••</div>

<!-- Botón de galleta para reactivar el banner -->
<button id="cookie-toggle">
    <img src="/assets/images/cookie.webp" alt="Cookie Settings">
</button>

<div id="cookie-notice">
    <span>We use cookies to enhance your experience. <a href="/privacy-policy/">Privacy Policy</a></span>
    <a id="cookie-notice-accept" class="btn btn-primary btn-sm">Approve</a>
    <a id="cookie-notice-dismiss" class="btn btn-primary btn-sm">Dismiss</a>
</div>

<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function loadAnalytics() {
        var scriptGA = document.createElement("script");
        scriptGA.src = "https://www.googletagmanager.com/gtag/js?id=G-0JC8WREF2K";
        scriptGA.async = true;
        document.head.appendChild(scriptGA);

        scriptGA.onload = function() {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-0JC8WREF2K');
        }
    }

    if (readCookie('cookie-notice-dismissed') !== 'true') {
        document.getElementById('cookie-notice').style.display = 'block';
    } else {
        loadAnalytics();
    }

    document.getElementById('cookie-notice-accept').addEventListener("click", function() {
        createCookie('cookie-notice-dismissed', 'true', 31);
        document.getElementById('cookie-notice').style.display = 'none';
        loadAnalytics();
    });

    document.getElementById('cookie-notice-dismiss').addEventListener("click", function() {
        document.getElementById('cookie-notice').style.display = 'none';
    });

    // Muestra la galleta cuando se hace clic en la pestaña
    document.getElementById('cookie-tab').addEventListener("click", function() {
        var cookieToggle = document.getElementById('cookie-toggle');
        var cookieTab = document.getElementById('cookie-tab');
        cookieToggle.classList.toggle('open');  // Muestra/oculta el botón
        cookieTab.classList.toggle('open');  // Mueve la pestaña hacia arriba
    });

    // Mostrar el banner de cookies cuando se hace clic en el icono de galleta
    document.getElementById('cookie-toggle').addEventListener("click", function() {
        document.getElementById('cookie-notice').style.display = 'block';
    });
</script>
